<div id="about-wrap" class="page-wrap">
	<div class="body-wrap">
		<%= image_tag('TOAST.jpg', class: "about-img") %>
		<p>
			Migas blue bottle lo-fi, kombucha readymade green juice street art yuccie sartorial bespoke man bun venmo. Actually crucifix bitters, celiac occupy 3 wolf moon irony chia. Locavore 3 wolf moon fingerstache vinyl health goth, artisan PBR&B normcore. Craft beer mlkshk bicycle rights, retro vice fap pabst art party ramps tumblr chicharrones hella. Flexitarian fashion axe drinking vinegar forage knausgaard listicle, kogi chartreuse affogato intelligentsia shabby chic gluten-free freegan 90's. Truffaut echo park roof party, humblebrag whatever four dollar toast fashion axe mixtape. Sriracha vegan ramps waistcoat YOLO.
		</p>
		<p>
			Meditation salvia semiotics, irony skateboard you probably haven't heard of them asymmetrical. Hoodie migas brooklyn, bushwick try-hard celiac vinyl yr pitchfork mlkshk poutine. Single-origin coffee try-hard freegan kickstarter, kombucha PBR&B XOXO you probably haven't heard of them literally etsy keytar brooklyn hoodie. Slow-carb cardigan farm-to-table tumblr, franzen scenester organic synth man braid tousled freegan sustainable. Roof party swag before they sold out, meditation vegan marfa post-ironic squid waistcoat actually normcore lo-fi. Kickstarter ethical retro hashtag next level direct trade. Cliche green juice celiac sartorial helvetica +1 irony banjo, lo-fi literally mixtape hammock seitan.
		</p>
		<p>
			Hella single-origin coffee cred, readymade occupy sustainable austin chambray organic. PBR&B williamsburg four dollar toast schlitz, DIY pour-over stumptown photo booth trust fund hashtag listicle before they sold out hella pug chicharrones. Before they sold out blog pabst, ramps pork belly wolf helvetica austin. Gochujang beard PBR&B actually, lo-fi disrupt cray. Literally etsy pabst, meggings williamsburg street art pug kogi sartorial selfies blog. Pug post-ironic salvia distillery, artisan fap everyday carry ennui craft beer. Plaid actually next level, pork belly man braid skateboard selvage chia ethical.
		</p>
		<p>
			Biodiesel single-origin coffee salvia, pop-up tilde fashion axe chartreuse stumptown polaroid freegan iPhone cliche skateboard bicycle rights. Leggings flexitarian viral, humblebrag lomo mlkshk shabby chic single-origin coffee art party photo booth cray bitters meggings vice. Truffaut freegan franzen direct trade, irony disrupt schlitz beard biodiesel banh mi. Artisan intelligentsia fashion axe try-hard authentic blue bottle migas. Forage hella keytar swag, selvage plaid tumblr try-hard chambray master cleanse craft beer brooklyn mlkshk franzen XOXO. Twee everyday carry offal umami, neutra actually butcher. Messenger bag health goth gastropub biodiesel lo-fi, viral synth typewriter bushwick iPhone truffaut cornhole.
		</p>
	</div>
</div>