/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";

@font-face {
  font-family: 'HeroLight';
  src: url('hero-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
	background-color: white;
}

#box-main {
	display: flex;
	flex-direction: column;
	height: 100%;
}

// NAVIGATION

#nav-main-wrap {
	background-color: black;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #AAAFA1;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	z-index: 99;
}

.nav-list {
	padding: 0;
	width: 60%;
	margin: 0;
	margin-right: 60px;
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.pj-logo {
	width: 250px;
}

.nav-item {
	display: inline-block;
	font-family: 'HeroLight';
	color: white;
}

.nav-item a {
	text-decoration: none;
	color: white;
}

.nav-item a:hover {
	color: #FF0020
}

.dropdown-menu {
	width: 450px;
	margin: 0px 0px 0px -180px;
	background-color: black;
	border: solid white 1px;
}

.dropdown-menu li {
	display: inline-block;
	margin: 0;
	margin-left: 15px;
	padding: 15px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .sub-menu {
		margin: 0;
		width: 200px;
    visibility: hidden;
    margin-top: -3px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

// HOMEPAGE

#home-wrap {
	height: 90%;
	width: 100%;
	flex: 1 1 auto;
	margin: 0;
}

.slide-img {
	height: 100%;
	width: 100%;
}

.page-wrap {
	width: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.body-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

// ABOUT PAGE

.about-img {
	margin-top: 300px;
	margin-bottom: 30px;
	align-self: center;
	width: 300px;
	heigth: 300px;
}

p {
	color: #6A6565;
}

// BLOG INDEX

#blog-index-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('pj-ranch.jpg') no-repeat center center fixed;
	background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.post-wrap {
	width: 75%;
	background-color: rgba(255, 255, 255, 0.6);
	margin: 30px 0px 30px 0px;
	padding: 30px;
}